@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
}

:root {
  --clr-primary: hsl(0, 100%, 68%);

  --dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);

  --fs-body: 1.8rem;

  --ff-body: "Barlow Condensed", sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --size-100: 0.4rem;
  --size-200: 0.8rem;
  --size-300: 0.75rem;
  --size-400: 1.6rem;
  --size-500: 2.4rem;
  --size-600: 3.2rem;
  --size-700: 4.8rem;
  --size-800: 6.4rem;
  --size-900: 8rem;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-transform: capitalize;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* utility classes */
.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.container {
  --max-width: 1110px;
  --padding: 1.6rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
.even-columns {
  display: grid;
  gap: 1.6rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* Code started now */


/* for medium & small devices */
@media (max-width: 768px) {
  html {
    font-style: 45%;
  }
}
/* for laptop */
@media (max-width: 998px) {
  html {
    font-style: 55%;
  }
}
